{% extends "layout.html" %}

{% from 'macros.html' import render_field %}

{% block content %}

<div class="row">
    <div class="col-md-3">
    </div>
    <div class="col-md-6">
        <h3>Billing Information</h3>

        <form action="{{ url_for('billinginfo') }}" method="post">
            {{ form.hidden_tag() }}
            {% for field in form %}
            {{ render_field(field) }}
            {% endfor %}
            <input class="btn btn-default" type="submit" name="update" id="update" value="Update" />
        </form>
    </div>
    <div class="col-md-3">
    </div>
</div>

        {% endblock %}
